@import url('https://fonts.googleapis.com/css?family=Roboto|Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Arial', sans-serif;
  background-color: #f9f9f9;
}

/* http request stuff */
.http-success-message {
  margin-top: 10px;
}
.http-success-message span {
  color: green
}
.http-failed-message {
  margin-top: 10px;
}
.http-failed-message {
  color: red
}
.contact-loading-wheel-div {
  margin-top: 10px;
}
.contact-loading-wheel-div img {
  width: 20px;
  height: 20px;
}

/*
* Keyframes
*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
:root {
  --fade-in-time: fadein .7s
}

.titleBar {
  padding-top: 10px;
  text-align: center;
  font-family: 'Roboto', 'Montserrat';
}

.titleBar h1 {
  font-weight: 100;
  font-size: 3.6em;
}

.titleBar h1 a{
  color: black;
  text-decoration: none;
}

.titleBar h1 a:hover {
  text-decoration: none;
}
.bg-light2 {
  background-color: #e6e6e6 !important;
}

@media (max-width: 991.98px) {
  .navbar {
    padding-top: 10px;
    margin-bottom: -12px;
  }
  .titleBar h1 {
    font-weight: 100;
    font-size: 2.6em;
  }
  .content-headline {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

/* 
*
* All Movies CSS
*
 */
.list-group-item-action:active {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.movies-list a {
  text-decoration: none;
}

 .movies-list a:hover {
  color: #212529;
  text-decoration: none;
}

.movies-listitem-title {
  color: black;
  font-weight: 900;
 } 

.movies-listitem-date {
  font-size: .9em;
  font-style: italic;
 }

.movies-listitem-deletelink {
  color: red;
}



.allmovies-form-container {
  animation: var(--fade-in-time);
}

.add-movie-button {
  margin-bottom: 0px;
}

.add-movie-button a {
  color: white;
}

.add-movie-button a:hover {
  color: white;
  text-decoration: none;
}

/* Movie details */
.movie-details-container {
  width: 100%;
  animation: var(--fade-in-time);
}

.back-button {
  margin-bottom: 15px;
}

.back-button a {
  color: white;
}

.back-button a:hover {
  color: white;
  text-decoration: none;
}

/*
* New Movie Page
*/
.movie-submit {
  margin-bottom: 10px;
}

.newmovie-form-container {
  width: 100%;
  animation: var(--fade-in-time);
  margin-bottom: 50px;
  text-align: left;
}

/* 
*
* Update Movie Page CSS
*
 */
.updatemovie-form-container {
  animation: var(--fade-in-time);
  margin-bottom: 50px;
}

.validation-error {
  color: red
}